@model IEnumerable<QLNV.Web.Models.PhongBan.PhongBanView>

@{
    ViewData["Title"] = "PHÒNG BAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>H1 Phòng ban</h1>

<p>
    <a class="btn btn-primary" asp-controller="PhongBan" asp-action="TaoPhongBan">action-V-Index-Tạo Phòng Ban</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongSoNhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPhongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongSoNhanVien)
                </td>
                <td>
                    @*Gồm 3 tham số tên, biến, Controller nào, new ...*@
                    @Html.ActionLink("SuaNV", "Sua", "PhongBan", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Nhan Vien", "NhanVien", "NhanVien", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Xoa NV", "Xoa", "PhongBan", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
